p {
  color: aliceblue;
}
.top {
  margin-left: 15vw;
  color: dodgerblue;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 10vw;
}
h2 {
  color: rgb(25, 236, 255);
  font-weight: bold;
  letter-spacing: 3px;
  margin-left: 4vw;
}
.logo {
  display: inline;
  width: fit-content;
  margin-right: 3vw;
  margin-left: 3vw;
  margin-top: 1vh;
  color: aliceblue;
}
.box a {
  color: #fff;
}
.box {
  color: #fff;
  margin-right: 5vw;
  font-weight: bold;
  align-self: center;
  transition: 0.7s;
}
.box:hover {
  background-color: rgb(11, 10, 10);
  height: 1.8em;
  border-radius: 0.5em;
  box-shadow: 2px 2px 2px gray;
}

.navigation {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 5vh;
  background-color: transparent;
  z-index: 1;
  margin-bottom: 4vh;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("../images/shelf.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.all {
  margin-top: 8vh;
  margin-left: 30vw;
  width: 40vw;
  height: 50vh;
  display: flexbox;
  justify-content: center;
  color: #fff;
}
form {
  padding: 0.4rem 0.8rem;
  margin: 18px;
  color: #fff;
  border-radius: 25px;
  font-weight: bold;
  letter-spacing: 2.5px;
}
input {
  color: #fff;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: 0;
  border: 2px solid rgba(5, 94, 184, 0.3);
  box-shadow: 0 0 0 2.5px rgb(56, 137, 219);
  outline: 0;
  color: #fff;
  letter-spacing: 2.5px;
  font-weight: bold;
}
input[type="text"]:focus {
  background-color: #fff;
  color: rgb(40, 35, 35);
}
button {
  padding: 0.4rem 0.8rem;
  border-radius: 1.5vw;
  background-color: dodgerblue;
  border: 0;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  width: 10vw;
  margin-left: 1vw;
}
label {
  border-radius: 40px;
}
#clear {
  background-color: rgb(237, 10, 10);
}
#clear:hover {
  background-color: grey;
}
i {
  color: #fff;
  font-size: large;
  word-spacing: 10px;
}
.submit {
  margin-left: 10vw;
  display: inline;
  justify-content: center;
}

